h1 {
  color: rgb(52,155,170);
  font-family: "Graphik Meetup", -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
}

body{
  background-color: rgb(234,231,231);
}
