.attendees {
  display: flex;
  padding-left: 5px;

}

.eventCardFull {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 30px;
  font-family: "Graphik Meetup", -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;

}

.contentCard {
  display: flex;
  justify-content: center;
  border-top: 2px solid rgb(217,217,217);

}

.cardText > p {
  display: flex;
  padding: 5px 5px 5px 5px;
  margin-bottom: 2px;
}

.cardText > a {
  margin-bottom: 2px;
}

.timeColor {
  color:rgb(139,121,93);
  font-weight: 500;
  margin-top: 8px;
}

.important {
  color:rgb(255,99,143);
  margin-top:8px;

}

.nameCity {
  width: 100px;
  margin-top: 8px;
}
