h2 {
  margin-bottom: 0px;
}

a {
  display: flex;
  flex-direction: row;
  font-family: "Graphik Meetup", -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;
  color: black;
  padding: 5px 5px 5px 5px;
}

label {
  font-family: "Graphik Meetup", -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;
  padding: 7px 7px 7px 7px;
}

p {
  padding-top: 8px;
}

.fullsite {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(234,231,231);

}

.navbar {
  display: flex;
  align-items: center;
}


.text {
  font-family: "Graphik Meetup", -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;

}
.form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.currentLink {
  color: rgb(246,88,88);
  text-decoration: underline;
}

.navbutton  {
  display: flex;
  align-items: center;
}

.navLogSign{
  background-color: rgb(234,231,231);
  font-size: 15px;
}

.navLogSign:hover {
  color: rgb(52,155,170);
}

ul > li {
  font-family: "Graphik Meetup", -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-decoration: none;
  font-weight: 400;
  color: rgb(79, 81, 81);
}

.logo {
  width: 300px;
}

button {
  background-color: rgb(234,231,231);
  border: none;
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;
  color: black;

}

.textInput{
  border-radius: 10px;
  border-color: grey;
  padding: 5px 5px 5px 5px;
  font-family: "Graphik Meetup", -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
}
